.element__delete-button {
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.element__delete-button:hover {
    opacity: 0.8;
}