.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    border: none;
    justify-self: end;
    align-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../../images/like-active.svg);
    opacity: 1;
}