.profile {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width: 684px) {
    .profile {
        padding-top: 42px;
        flex-direction: column;
        max-width: 282px;
        gap: 30px;
    }
}