.popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
    gap: 30px;
}

@media screen and (max-width: 555px) {
    .popup__content {
        padding-top: 75px;
    }
}