.popup__submit-button {
    border: none;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 358px;
    height: 50px;
    color: #FFFFFF;
    margin-top: 18px;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 555px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
}