.popup__text-occupation {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
}

@media screen and (max-width: 555px) {
    .popup__text-occupation {
        width: 238px;
    }
}