.header__logo {
    max-width: 142px;
    height: 33px;
    margin-left: 0;
}

@media screen and (max-width: 930px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        min-width: 103.74px;
        height: 24.4px;
    }
}