.popup__form {
    margin-top: 195px;
    background-color: #FFFFFF;
    width: 430px;
    height: 330px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}  

@media screen and (max-width: 555px) {
    .popup__form {
        margin-top: 0;
        width: 282px;
        height: 322px;
        align-self: center;
    }
}
