.profile__edit-info {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

@media screen and (max-width: 684px) {
    .profile__edit-info {
        justify-content: center;
        gap: 10px;
    }
}