.popup__close-button {
    border: none;
    background-image: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -40px;
    left: 438px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 555px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -35px;
        left: 265px;
    }
}
