.popup__close-button {
    background-image: url(/images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 155px;
}

.popup__close-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 555px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        margin-top: 0;
        align-self: end;
        background-size: contain;
    }
}
