.profile__avatar {
    width: 120px;
    height: 120px;
    background: #C4C4C4;
    border-radius: 50%;
}

@media screen and (max-width: 684px) {
    .profile__avatar {
       justify-self: center;
    }
}