.profile__info {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 18px;
    align-items: center;
}

@media screen and (max-width: 646px) {
    .profile__info {
        padding-top: 22.25px;
        text-align: center;
        justify-content: center;
        gap: 14px;
    }
}