.profile__info {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    align-items: center;
    padding-left: 2px;
    padding-top: 5px;
}

@media screen and (max-width: 646px) {
    .profile__info {
        padding-top: 24px;
        text-align: center;
        justify-content: center;
        gap: 12px;
        padding-left: 0;
    }
}