.profile__info {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 22px;
}

@media screen and (max-width: 684px) {
    .profile__info {
        padding-top: 0;
        text-align: center;
        justify-content: center;
        gap: 14px;
    }
}