.profile__occupation {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 684px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}